.Section {
  box-sizing: border-box;
  width: 720px;
  height: 311px;
  padding: 56px 60px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* If you want it to be centered horizontally in the page: */
  margin: 0 auto;
}
